.search-box {
  display: flex;
  gap: 5px;
  border: 2px solid var(--black);
  padding: 5px;
  height: 2rem;
  align-items: center;
  width: 50rem;
}

.search-box input {
  border: none;
  flex: 1;
}
